<% content_for :title, 'Login' %>
<h1><p class="text-center">Please log in to continue</p></h1>
<div class="panel panel-default">
  <div class="panel-body">
    <div>
      <% if logged_in? %>
        <a href="<%= logout_path %>" class="btn"><%= t('auth.logout') %></a>
      <% else %>
        <div class="text-center">
          <!--<a href="/auth/twitter" class="btn btn-primary"><i class="icon-twitter"></i> <span><%= t('auth.twitter_html') %></span></a>-->
          <a href="/auth/github" class="btn btn-primary"><i class="icon-github-alt"></i> <span><%= t('auth.github_html') %></span></a>
          <!--<% unless Rails.env.production? %><a href="/auth/developer" class="btn btn-primary"><i class="icon-github-alt"></i> <span><%= t('auth.developer_html') %></span></a><% end %>-->
        </div>
      <% end %>
    </div>
  </div>
</div>

