<div class="table-styling">
  <table id='dtable' class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>RFC #</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Created By</th>
      <th>Created</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% @changes.each do |change| %>
      <tr data-href="/change/<%= change.id %>">
        <td><%= change.id %></td>
        <td><%= change.priority.name.capitalize %></td>
        <td><%= change.status.name.capitalize %></td>
        <td><%= change.creator.name %></td>
        <td>
          <abbr title="<%= change.created_at.to_s(:long) %>" data-livestamp="<%= change.created_at.utc.iso8601 %>"></abbr>
        </td>
        <td><%= truncate(change.title, length: 60, separator: ' ') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>