<div class="btn-toolbar mixer-buttons">
  <div class="btn-group mixer-buttons priority-filter-buttons">
    <select class="multiselect" multiple="multiple">
      <% Priority.all.each do |priority| %>
        <option data-class="priority" value="<%= mixer_select_values(priority) %>"><%= priority.name.capitalize %></option>
      <% end %>
    </select>
  </div>
  <div class="btn-group mixer-buttons status-filter-buttons">
    <select class="multiselect" multiple="multiple">
      <% Status.all.each do |status| %>
        <option data-class="status" value="<%= mixer_select_values(status) %>"><%= status.name.capitalize %></option>
      <% end %>
    </select>
  </div>
  <div class="btn-group mixer-buttons system-filter-buttons">
    <select class="multiselect" multiple="multiple">
	    <% grouped_values = build_option_group(System,'category') %>
      <% grouped_values.keys.each do |system| %>
        <optgroup label="<%= system %>">
	        <% grouped_values[system].each do |value|  %>
            <option data-class="system" value="<%= mixer_select_values(value) %>"><%= value.name.capitalize %>
	        <% end %>
        </optgroup>
		    <% end %>
    </select>
  </div>
  <div class="btn-group mixer-buttons system-filter-buttons">
    <select class="multiselect" multiple="multiple">
      <% User.all.each do |user| %>
        <option data-class="user" value="<%= mixer_select_values(user) %>"><%= user.name.capitalize %></option>
      <% end %>
    </select>
  </div>

  <div class="btn-group sort-buttons">
    <button type="button" data-sort="default" class="sort btn btn-default">Default sort</button>
    <button type="button" data-sort="myorder:asc" class="sort btn btn-default">Ascending</button>
    <button type="button" data-sort="myorder:desc" class="sort btn btn-default">Descending</button>
  </div>
</div>
