<div class="change-heading cdata" data-cid="<%= @change.id %>" data-cstatus="<%= @change.status.name %>">
  <h2><%= @change.title.capitalize %> <span class="status"> </span></h2>
</div>

<div class="change-subheading">
  <ul>
    <li><b>Creator: </b><%= @change.creator.name %></li>
    <li><b>Due Date: </b><%= @change.change_date.try(:strftime, '%m/%d/%Y') %></li>
    <li><b>Priority: </b><%= @change.priority.name.capitalize %></li>
    <li><b>Status: </b><%= @change.status.name.capitalize %></li>
    <li><b>System: </b><%= @change.system.name.capitalize %></li>
    <li><b>Change Type: </b><%= @change.change_type.name.capitalize %></li>
    <li class="last"><b>Potential Impact: </b><%= @change.impact.name.capitalize %></li>
  </ul>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Change Summary</h3>
  </div>
  <div class="panel-body">
    <p><%= Sanitize.clean(@change.summary, Sanitize::Config::RELAXED).html_safe %></p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Rollback Plan</h3>
  </div>
  <div class="panel-body">
    <p><%= Sanitize.clean(@change.rollback, Sanitize::Config::RELAXED).html_safe %></p>
  </div>
</div>

<% if @change.status.name == 'approved' %>
  <%= render :partial => 'post_approval' %>
<% end %>

<% unless %w(approved completed).include?(@change.status.name) %>
  <%= render :partial => 'approvers' %>
<% end %>

<% unless %w(approved completed).include?(@change.status.name)
     if @change.approvers.map(&:user_id).include?(current_user.id) %>
    <%= render :partial => 'approval_buttons' %>
  <% end %>
<% end %>

<%= render :partial => 'comments_modal' %>
<%= render :partial => 'events' %>
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm">Comments</button>



