<%= title("Change ##{@change.id} | #{@change.status.name.capitalize}") %>
<div class="change-heading cdata" data-cid="<%= @change.id %>" data-cstatus="<%= @change.status.name %>">
  <div class="heading-text">
    <%= title_text(@change) %>
  </div>

  <div id="change_subheading" class="change-subheading">
    <%= render :partial => 'change_subheading' %>
  </div>
</div>

<div class="row">
  <div id="change_details" class="col-md-3 change-details-container">
    <%= render :partial => 'change/change_details' %>
  </div>
  <%= tinymce :simple %>
  <%= change_text(@change) %>
</div>
<div id="approval_section">
  <%= render :partial => 'approval_section' %>
</div>
<%= render :partial => 'comments_modal' %>
<div id="events">
  <%= render :partial => 'events' %>
</div>


