<div class="change-heading cdata" data-cid="<%= @change.id %>" data-cstatus="<%= @change.status.name %>">
  <h2><%= @change.title.capitalize %> <span class="change-id">#<%= @change.id %></span></h2>

  <div id="change_subheading" class="change-subheading">
    <%= render :partial => 'change_subheading' %>
  </div>
</div>

<div class="row">
  <div id="change_details" class="col-md-3 change-details-container">
    <%= render :partial => 'change/change_details' %>
  </div>
  <%= tinymce :simple %>
  <%= change_text(@change) %>
</div>
<div id="approval_section">
  <%= render :partial => 'approval_section' %>
</div>
<%= render :partial => 'comments_modal' %>
<div id="events">
  <%= render :partial => 'events' %>
</div>



